* {
	margin: 0;
	padding: 0;
}
body {
	font-size: 16px;
}
a {
	text-decoration: none;
}
 a:hover {
	text-decoration: none;
}
li {
	list-style: none;
}
															/*HEADER*/

.header_bg {
	height: 737px;
	background-image: url(../_images/header_bg.png);
}
header {
	height: 737px;
}
.logo {
	text-transform: uppercase;
	font-family: "BigJhon";
	font-size: 1.8em;
	margin-top: 45px;
}
nav {
	margin-top: 55px;
}
nav	ul {
	margin-left: 69px;
}
nav	li {
	display: inline-block;
	margin-right: 15px;
}
nav li:last-child {
	margin-right: 0px;
}
nav a {
	color: #fff;
	font-family: "OpenSans-Regular";
	font-size: 16px;
}
.nav a:hover{
	color: #fff;
	border: solid 1px #fff;
	border-radius: 25px;
	padding: 3px 15px;
	text-decoration: none;
	mar
}
.nav a:active{
	color: #fff;
	border: solid 1px #fff;
	border-radius: 25px;
	padding: 3px 15px;
	text-decoration: none;
}
.active {
		color: #fff;
	border: solid 1px #fff;
	border-radius: 25px;
	padding: 3px 15px;
	text-decoration: none;
}

.header_h2 {
	font-family: "OpenSans-Light";
	text-transform: uppercase;
	text-align: center;
	padding-top: 270px;
	color: #fff;
	font-size: 1.8em;
}
.header_p {
	text-align: center;
	font-family: "OpenSane-Regular";
	font-size: 1.2em;
	color: #fff;
	margin-left: 26%;
	letter-spacing: 0.5px;
	margin-top: 30px;
}
.header_arrow {
	margin-top: 283px;
	right: 311px;
}
.header_arrow a {
	color: #fff;
	border: solid 1px #19bd9a;
	background-color: #19bd9a;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	text-align: center;
	padding-top: 9px;
}
.header_arrow a:hover {
	text-decoration: none;
}








.this_bouncy {
	height: 490px;
	margin-top: 80px;
}
.this_bouncy h3 {
	letter-spacing: 1px;
	font-family: "OpenSans-Light";
	text-transform: uppercase;
}
.this_bouncy p {
	font-family: "OpenSane-Regular"
}
.ipad {
	margin-left: 280px;
	margin-top: 80px;
}